$icon-bahraini: "\e002";
$icon-bath: "\e003";
$icon-bitcoin: "\e004";
$icon-cent: "\e005";
$icon-dinar: "\e006";
$icon-dirham: "\e007";
$icon-dollar: "\e008";
$icon-dollar-australian: "\e009";
$icon-dollar-canadian: "\e00a";
$icon-dollar-singapore: "\e00b";
$icon-ethereum: "\e00c";
$icon-euro: "\e00d";
$icon-forint: "\e00e";
$icon-frank: "\e00f";
$icon-krone-czech: "\e010";
$icon-krone-danish: "\e011";
$icon-krone-swedish: "\e012";
$icon-leu: "\e013";
$icon-lira: "\e014";
$icon-litecoin: "\e015";
$icon-naira: "\e016";
$icon-pound: "\e017";
$icon-real: "\e018";
$icon-renminbi: "\e019";
$icon-ripple: "\e01a";
$icon-riyal: "\e01b";
$icon-rubel: "\e01c";
$icon-rupee: "\e01d";
$icon-shekel: "\e01e";
$icon-taka: "\e01f";
$icon-tugrik: "\e020";
$icon-won: "\e021";
$icon-yen: "\e022";
$icon-zloty: "\e023";
$spices-clove-regular-icons: (
 icon-bahraini: $icon-bahraini,
icon-bath: $icon-bath,
icon-bitcoin: $icon-bitcoin,
icon-cent: $icon-cent,
icon-dinar: $icon-dinar,
icon-dirham: $icon-dirham,
icon-dollar: $icon-dollar,
icon-dollar-australian: $icon-dollar-australian,
icon-dollar-canadian: $icon-dollar-canadian,
icon-dollar-singapore: $icon-dollar-singapore,
icon-ethereum: $icon-ethereum,
icon-euro: $icon-euro,
icon-forint: $icon-forint,
icon-frank: $icon-frank,
icon-krone-czech: $icon-krone-czech,
icon-krone-danish: $icon-krone-danish,
icon-krone-swedish: $icon-krone-swedish,
icon-leu: $icon-leu,
icon-lira: $icon-lira,
icon-litecoin: $icon-litecoin,
icon-naira: $icon-naira,
icon-pound: $icon-pound,
icon-real: $icon-real,
icon-renminbi: $icon-renminbi,
icon-ripple: $icon-ripple,
icon-riyal: $icon-riyal,
icon-rubel: $icon-rubel,
icon-rupee: $icon-rupee,
icon-shekel: $icon-shekel,
icon-taka: $icon-taka,
icon-tugrik: $icon-tugrik,
icon-won: $icon-won,
icon-yen: $icon-yen,
icon-zloty: $icon-zloty);