$icon-angle-down: "\ea14";
$icon-angle-down-left: "\ea15";
$icon-angle-down-right: "\ea16";
$icon-angle-left: "\ea17";
$icon-angle-right: "\ea18";
$icon-angle-up: "\ea19";
$icon-angle-up-left: "\ea1a";
$icon-angle-up-right: "\ea1b";
$icon-angles-down: "\ea1c";
$icon-angles-left: "\ea1d";
$icon-angles-right: "\ea1e";
$icon-angles-up: "\ea1f";
$icon-arrow-bar-down: "\ea27";
$icon-arrow-bar-left: "\ea28";
$icon-arrow-bar-right: "\ea29";
$icon-arrow-bar-to-down: "\ea2a";
$icon-arrow-bar-to-left: "\ea2b";
$icon-arrow-bar-to-right: "\ea2c";
$icon-arrow-bar-to-up: "\ea2d";
$icon-arrow-bar-up: "\ea2e";
$icon-arrow-big-down: "\ea2f";
$icon-arrow-big-left: "\ea30";
$icon-arrow-big-right: "\ea31";
$icon-arrow-big-top: "\ea32";
$icon-arrow-bottom-bar: "\ea33";
$icon-arrow-bottom-circle: "\ea34";
$icon-arrow-bottom-square: "\ea35";
$icon-arrow-bottom-tail: "\ea36";
$icon-arrow-diagonal-ew: "\ea37";
$icon-arrow-diagonal-we: "\ea38";
$icon-arrow-down: "\ea39";
$icon-arrow-down-left: "\ea3a";
$icon-arrow-down-right: "\ea3b";
$icon-arrow-horizontal: "\ea3c";
$icon-arrow-left: "\ea3d";
$icon-arrow-left-bar: "\ea3e";
$icon-arrow-left-circle: "\ea3f";
$icon-arrow-left-square: "\ea40";
$icon-arrow-left-tail: "\ea41";
$icon-arrow-loop-left: "\ea42";
$icon-arrow-loop-right: "\ea43";
$icon-arrow-ramp-left: "\ea44";
$icon-arrow-ramp-right: "\ea45";
$icon-arrow-right: "\ea46";
$icon-arrow-right-bar: "\ea47";
$icon-arrow-right-circle: "\ea48";
$icon-arrow-right-square: "\ea49";
$icon-arrow-right-tail: "\ea4a";
$icon-arrow-top-bar: "\ea4b";
$icon-arrow-top-circle: "\ea4c";
$icon-arrow-top-square: "\ea4d";
$icon-arrow-top-tail: "\ea4e";
$icon-arrow-up: "\ea4f";
$icon-arrow-up-left: "\ea50";
$icon-arrow-up-right: "\ea51";
$icon-arrow-vertical: "\ea52";
$icon-arrow-wave-left-down: "\ea53";
$icon-arrow-wave-left-up: "\ea54";
$icon-arrow-wave-right-down: "\ea55";
$icon-arrow-wave-right-up: "\ea56";
$icon-arrows-double-ne-sw: "\ea57";
$icon-arrows-double-nw-se: "\ea58";
$icon-arrows-double-se-nw: "\ea59";
$icon-arrows-double-sw-ne: "\ea5a";
$icon-arrows-down: "\ea5b";
$icon-arrows-down-up: "\ea5c";
$icon-arrows-horizontal: "\ea5d";
$icon-arrows-join: "\ea5e";
$icon-arrows-left: "\ea5f";
$icon-arrows-left-down: "\ea60";
$icon-arrows-left-right: "\ea61";
$icon-arrows-right: "\ea62";
$icon-arrows-right-down: "\ea63";
$icon-arrows-right-left: "\ea64";
$icon-arrows-split: "\ea65";
$icon-arrows-up: "\ea66";
$icon-arrows-up-down: "\ea67";
$icon-arrows-up-left: "\ea68";
$icon-arrows-up-right: "\ea69";
$icon-arrows-vertical: "\ea6a";
$icon-back: "\ea71";
$icon-back-up: "\ea72";
$icon-caret-down: "\eab9";
$icon-caret-left: "\eaba";
$icon-caret-right: "\eabb";
$icon-caret-up: "\eabc";
$icon-corner-down-left: "\eae5";
$icon-corner-down-left-double: "\eae6";
$icon-corner-down-right: "\eae7";
$icon-corner-down-right-double: "\eae8";
$icon-corner-left-down: "\eae9";
$icon-corner-left-down-double: "\eaea";
$icon-corner-left-up: "\eaeb";
$icon-corner-left-up-double: "\eaec";
$icon-corner-right-down: "\eaed";
$icon-corner-right-down-double: "\eaee";
$icon-corner-right-up: "\eaef";
$icon-corner-right-up-double: "\eaf0";
$icon-corner-up-left: "\eaf1";
$icon-corner-up-left-double: "\eaf2";
$icon-corner-up-right: "\eaf3";
$icon-corner-up-right-double: "\eaf4";
$icon-download: "\eb11";
$icon-forward: "\eb48";
$icon-forward-up: "\eb49";
$icon-git-branch: "\eb4f";
$icon-git-commit: "\eb50";
$icon-git-compare: "\eb51";
$icon-git-fork: "\eb52";
$icon-git-merge: "\eb53";
$icon-git-pull-request: "\eb54";
$icon-login: "\eb8e";
$icon-logout: "\eb8f";
$icon-open: "\ebb7";
$icon-parent: "\ebbd";
$icon-redo: "\ebe5";
$icon-sort: "\ebf2";
$icon-sort-desc: "\ebf3";
$icon-sort-up: "\ebf4";
$icon-switch-horizontal: "\ebf9";
$icon-sync: "\ebfa";
$icon-undo: "\ec02";
$icon-upload: "\ec04";
$spices-clove-regular-icons: (
 icon-angle-down: $icon-angle-down,
icon-angle-down-left: $icon-angle-down-left,
icon-angle-down-right: $icon-angle-down-right,
icon-angle-left: $icon-angle-left,
icon-angle-right: $icon-angle-right,
icon-angle-up: $icon-angle-up,
icon-angle-up-left: $icon-angle-up-left,
icon-angle-up-right: $icon-angle-up-right,
icon-angles-down: $icon-angles-down,
icon-angles-left: $icon-angles-left,
icon-angles-right: $icon-angles-right,
icon-angles-up: $icon-angles-up,
icon-arrow-bar-down: $icon-arrow-bar-down,
icon-arrow-bar-left: $icon-arrow-bar-left,
icon-arrow-bar-right: $icon-arrow-bar-right,
icon-arrow-bar-to-down: $icon-arrow-bar-to-down,
icon-arrow-bar-to-left: $icon-arrow-bar-to-left,
icon-arrow-bar-to-right: $icon-arrow-bar-to-right,
icon-arrow-bar-to-up: $icon-arrow-bar-to-up,
icon-arrow-bar-up: $icon-arrow-bar-up,
icon-arrow-big-down: $icon-arrow-big-down,
icon-arrow-big-left: $icon-arrow-big-left,
icon-arrow-big-right: $icon-arrow-big-right,
icon-arrow-big-top: $icon-arrow-big-top,
icon-arrow-bottom-bar: $icon-arrow-bottom-bar,
icon-arrow-bottom-circle: $icon-arrow-bottom-circle,
icon-arrow-bottom-square: $icon-arrow-bottom-square,
icon-arrow-bottom-tail: $icon-arrow-bottom-tail,
icon-arrow-diagonal-ew: $icon-arrow-diagonal-ew,
icon-arrow-diagonal-we: $icon-arrow-diagonal-we,
icon-arrow-down: $icon-arrow-down,
icon-arrow-down-left: $icon-arrow-down-left,
icon-arrow-down-right: $icon-arrow-down-right,
icon-arrow-horizontal: $icon-arrow-horizontal,
icon-arrow-left: $icon-arrow-left,
icon-arrow-left-bar: $icon-arrow-left-bar,
icon-arrow-left-circle: $icon-arrow-left-circle,
icon-arrow-left-square: $icon-arrow-left-square,
icon-arrow-left-tail: $icon-arrow-left-tail,
icon-arrow-loop-left: $icon-arrow-loop-left,
icon-arrow-loop-right: $icon-arrow-loop-right,
icon-arrow-ramp-left: $icon-arrow-ramp-left,
icon-arrow-ramp-right: $icon-arrow-ramp-right,
icon-arrow-right: $icon-arrow-right,
icon-arrow-right-bar: $icon-arrow-right-bar,
icon-arrow-right-circle: $icon-arrow-right-circle,
icon-arrow-right-square: $icon-arrow-right-square,
icon-arrow-right-tail: $icon-arrow-right-tail,
icon-arrow-top-bar: $icon-arrow-top-bar,
icon-arrow-top-circle: $icon-arrow-top-circle,
icon-arrow-top-square: $icon-arrow-top-square,
icon-arrow-top-tail: $icon-arrow-top-tail,
icon-arrow-up: $icon-arrow-up,
icon-arrow-up-left: $icon-arrow-up-left,
icon-arrow-up-right: $icon-arrow-up-right,
icon-arrow-vertical: $icon-arrow-vertical,
icon-arrow-wave-left-down: $icon-arrow-wave-left-down,
icon-arrow-wave-left-up: $icon-arrow-wave-left-up,
icon-arrow-wave-right-down: $icon-arrow-wave-right-down,
icon-arrow-wave-right-up: $icon-arrow-wave-right-up,
icon-arrows-double-ne-sw: $icon-arrows-double-ne-sw,
icon-arrows-double-nw-se: $icon-arrows-double-nw-se,
icon-arrows-double-se-nw: $icon-arrows-double-se-nw,
icon-arrows-double-sw-ne: $icon-arrows-double-sw-ne,
icon-arrows-down: $icon-arrows-down,
icon-arrows-down-up: $icon-arrows-down-up,
icon-arrows-horizontal: $icon-arrows-horizontal,
icon-arrows-join: $icon-arrows-join,
icon-arrows-left: $icon-arrows-left,
icon-arrows-left-down: $icon-arrows-left-down,
icon-arrows-left-right: $icon-arrows-left-right,
icon-arrows-right: $icon-arrows-right,
icon-arrows-right-down: $icon-arrows-right-down,
icon-arrows-right-left: $icon-arrows-right-left,
icon-arrows-split: $icon-arrows-split,
icon-arrows-up: $icon-arrows-up,
icon-arrows-up-down: $icon-arrows-up-down,
icon-arrows-up-left: $icon-arrows-up-left,
icon-arrows-up-right: $icon-arrows-up-right,
icon-arrows-vertical: $icon-arrows-vertical,
icon-back: $icon-back,
icon-back-up: $icon-back-up,
icon-caret-down: $icon-caret-down,
icon-caret-left: $icon-caret-left,
icon-caret-right: $icon-caret-right,
icon-caret-up: $icon-caret-up,
icon-corner-down-left: $icon-corner-down-left,
icon-corner-down-left-double: $icon-corner-down-left-double,
icon-corner-down-right: $icon-corner-down-right,
icon-corner-down-right-double: $icon-corner-down-right-double,
icon-corner-left-down: $icon-corner-left-down,
icon-corner-left-down-double: $icon-corner-left-down-double,
icon-corner-left-up: $icon-corner-left-up,
icon-corner-left-up-double: $icon-corner-left-up-double,
icon-corner-right-down: $icon-corner-right-down,
icon-corner-right-down-double: $icon-corner-right-down-double,
icon-corner-right-up: $icon-corner-right-up,
icon-corner-right-up-double: $icon-corner-right-up-double,
icon-corner-up-left: $icon-corner-up-left,
icon-corner-up-left-double: $icon-corner-up-left-double,
icon-corner-up-right: $icon-corner-up-right,
icon-corner-up-right-double: $icon-corner-up-right-double,
icon-download: $icon-download,
icon-forward: $icon-forward,
icon-forward-up: $icon-forward-up,
icon-git-branch: $icon-git-branch,
icon-git-commit: $icon-git-commit,
icon-git-compare: $icon-git-compare,
icon-git-fork: $icon-git-fork,
icon-git-merge: $icon-git-merge,
icon-git-pull-request: $icon-git-pull-request,
icon-login: $icon-login,
icon-logout: $icon-logout,
icon-open: $icon-open,
icon-parent: $icon-parent,
icon-redo: $icon-redo,
icon-sort: $icon-sort,
icon-sort-desc: $icon-sort-desc,
icon-sort-up: $icon-sort-up,
icon-switch-horizontal: $icon-switch-horizontal,
icon-sync: $icon-sync,
icon-undo: $icon-undo,
icon-upload: $icon-upload);