$spices-icons-path: 'https://cdn.sayl.cloud/spices/icons/spices-icons.svg?v=0.10.0';
$spices-icons-version: '0.10.0';

$spices-icons: (
	upload, 
	undo, 
	sync, 
	switch-horizontal, 
	sort-up, 
	sort-desc, 
	sort, 
	redo, 
	parent, 
	open, 
	minimize, 
	maximize, 
	logout, 
	login, 
	git-pull-request, 
	git-merge, 
	git-fork, 
	git-compare, 
	git-commit, 
	git-branch, 
	forward-up, 
	forward, 
	download, 
	corner-up-right-double, 
	corner-up-right, 
	corner-up-left-double, 
	corner-up-left, 
	corner-right-up-double, 
	corner-right-up, 
	corner-right-down-double, 
	corner-right-down, 
	corner-left-up-double, 
	corner-left-up, 
	corner-left-down-double, 
	corner-left-down, 
	corner-down-right-double, 
	corner-down-right, 
	corner-down-left-double, 
	corner-down-left, 
	caret-up, 
	caret-right, 
	caret-left, 
	caret-down, 
	back-up, 
	back, 
	arrows-vertical, 
	arrows-up-right, 
	arrows-up-left, 
	arrows-up-down, 
	arrows-up, 
	arrows-split, 
	arrows-right-left, 
	arrows-right-down, 
	arrows-right, 
	arrows-left-right, 
	arrows-left-down, 
	arrows-left, 
	arrows-join, 
	arrows-horizontal, 
	arrows-down-up, 
	arrows-down, 
	arrows-double-sw-ne, 
	arrows-double-se-nw, 
	arrows-double-nw-se, 
	arrows-double-ne-sw, 
	arrow-wave-right-up, 
	arrow-wave-right-down, 
	arrow-wave-left-up, 
	arrow-wave-left-down, 
	arrow-vertical, 
	arrow-up-right, 
	arrow-up-left, 
	arrow-up, 
	arrow-top-tail, 
	arrow-top-square, 
	arrow-top-circle, 
	arrow-top-bar, 
	arrow-right-tail, 
	arrow-right-square, 
	arrow-right-circle, 
	arrow-right-bar, 
	arrow-right, 
	arrow-ramp-right, 
	arrow-ramp-left, 
	arrow-loop-right, 
	arrow-loop-left, 
	arrow-left-tail, 
	arrow-left-square, 
	arrow-left-circle, 
	arrow-left-bar, 
	arrow-left, 
	arrow-horizontal, 
	arrow-down-right, 
	arrow-down-left, 
	arrow-down, 
	arrow-diagonal-we, 
	arrow-diagonal-ew, 
	arrow-bottom-tail, 
	arrow-bottom-square, 
	arrow-bottom-circle, 
	arrow-bottom-bar, 
	arrow-big-top, 
	arrow-big-right, 
	arrow-big-left, 
	arrow-big-down, 
	arrow-bar-up, 
	arrow-bar-to-up, 
	arrow-bar-to-right, 
	arrow-bar-to-left, 
	arrow-bar-to-down, 
	arrow-bar-right, 
	arrow-bar-left, 
	arrow-bar-down, 
	angles-up, 
	angles-right, 
	angles-left, 
	angles-down, 
	angle-up-right, 
	angle-up-left, 
	angle-up, 
	angle-right, 
	angle-left, 
	angle-down-right, 
	angle-down-left, 
	angle-down, 
	watch, 
	television, 
	tablet, 
	speaker, 
	router, 
	prompt, 
	printer, 
	plug, 
	mouse, 
	mobile-v, 
	mobile-h, 
	laptop, 
	keyboard, 
	gamepad, 
	forms, 
	folders, 
	folder-x, 
	folder-plus, 
	folder-off, 
	folder-minus, 
	folder, 
	floppy, 
	files-off, 
	files, 
	file-zip, 
	file-x, 
	file-upload, 
	file-text, 
	file-symlink, 
	file-shredder, 
	file-search, 
	file-report, 
	file-plus, 
	file-phone, 
	file-off, 
	file-music, 
	file-minus, 
	file-like, 
	file-invoice, 
	file-info, 
	file-import, 
	file-horizontal, 
	file-export, 
	file-download, 
	file-dislike, 
	file-diff, 
	file-code-2, 
	file-code, 
	file-check, 
	file-certificate, 
	file-analytics, 
	file-alert, 
	file, 
	desktop, 
	database, 
	dashboard, 
	command, 
	code, 
	bucket, 
	browser, 
	brackets, 
	braces, 
	backspace, 
	at, 
	archive, 
	analytics, 
	zloty, 
	yen, 
	won, 
	tugrik, 
	taka, 
	shekel, 
	rupee, 
	rubel, 
	riyal, 
	ripple, 
	renminbi, 
	real, 
	pound, 
	naira, 
	litecoin, 
	lira, 
	leu, 
	krone-swedish, 
	krone-danish, 
	krone-czech, 
	frank, 
	forint, 
	euro, 
	ethereum, 
	dollar-singapore, 
	dollar-canadian, 
	dollar-australian, 
	dollar, 
	dirham, 
	dinar, 
	cent, 
	bitcoin, 
	bath, 
	bahraini, 
	playlist, 
	player-track-prev, 
	player-track-next, 
	player-stop, 
	player-skip-forward, 
	player-skip-back, 
	player-record, 
	player-play, 
	player-pause, 
	page-break, 
	line-height, 
	hash, 
	flip-vertical, 
	flip-horizontal, 
	eraser, 
	edit, 
	cut, 
	cursor-text, 
	crop, 
	copy, 
	column-insert-right, 
	column-insert-left, 
	color-picker, 
	clipboard, 
	chart-pie, 
	chart-line, 
	chart-infographic, 
	chart-dots, 
	chart-donut, 
	chart-circles, 
	chart-candle, 
	chart-bubble, 
	chart-bar, 
	chart-arrows-vertical, 
	chart-arrows, 
	chart-area-line, 
	chart-area, 
	chart-arcs, 
	brush, 
	aspect-ratio, 
	artboard, 
	align-right, 
	align-left, 
	align-justified, 
	align-center, 
	circle-square, 
	visible, 
	users, 
	user, 
	unlink, 
	trash, 
	time, 
	target, 
	search, 
	record-mail, 
	power, 
	pinned, 
	pin, 
	photo, 
	phone, 
	perspective, 
	panorama-vertical, 
	panorama-horizontal, 
	octagon, 
	note, 
	mood-suprised, 
	mood-smile, 
	mood-sad, 
	mood-neutral, 
	mood-empty, 
	mood-confuzed, 
	mist, 
	minimize, 
	microphone-off, 
	microphone, 
	message-dots, 
	message-circle, 
	message, 
	menu, 
	maximize, 
	map-pin, 
	map, 
	lozange, 
	lock-open, 
	lock, 
	location, 
	live-view, 
	list-search, 
	list-check, 
	list, 
	link, 
	line-dotted, 
	line-dashed, 
	line, 
	layout-list, 
	layout-grid, 
	layout-columns, 
	layout-cards, 
	layout, 
	l8n, 
	history, 
	hierarchy, 
	hidden, 
	hexagon, 
	hand-rock, 
	grip-horizontal, 
	grid-dots, 
	grain, 
	globe, 
	focus, 
	filter, 
	face-id, 
	envelope-opened, 
	envelope, 
	drag-drop, 
	drag, 
	dots-diagonal-2, 
	dots-diagonal, 
	dots, 
	dot-dot-dot, 
	disabled, 
	crosshair, 
	credit-card, 
	cog, 
	click, 
	circles, 
	circle-half-vertical, 
	circle-half, 
	circle, 
	cast, 
	capture, 
	calendar, 
	bulb-off, 
	bulb, 
	bug, 
	bookmarks, 
	bookmark-off, 
	bookmark, 
	bag, 
	apps, 
	alarm, 
	adjustments-horizontal, 
	adjustments, 
	a-b, 
	2fa, 
	star-full, 
	star, 
	speedboat, 
	scooter, 
	sailboat, 
	ruler, 
	rocket, 
	recycle, 
	propeller, 
	play-card, 
	plant, 
	planet, 
	plane-departure, 
	plane-arrival, 
	plane, 
	pizza, 
	pill, 
	pennant, 
	pencil, 
	peace, 
	paperclip, 
	paint, 
	music, 
	mug, 
	motorbike, 
	moped, 
	moon, 
	mars, 
	magnet, 
	lotus, 
	lifeboy, 
	license, 
	leaf, 
	key, 
	inbox, 
	ice-cream, 
	home, 
	helicopter, 
	heart, 
	headphones, 
	globe, 
	glass, 
	gift, 
	ghost, 
	geometry, 
	forklift, 
	flower, 
	flask, 
	flame, 
	firetruck, 
	eyeglass, 
	egg, 
	ear, 
	droplet, 
	dna, 
	directions, 
	diamond, 
	curly-loop, 
	crown, 
	comet, 
	color-swatch, 
	cloud, 
	christmas-tree, 
	cash, 
	caravan, 
	car, 
	camera, 
	bus, 
	bullhorn, 
	bulldozer, 
	building-warehouse, 
	building-store, 
	building-skyscraper, 
	building-pavilon, 
	building-monument, 
	building-lighthouse, 
	building-hospital, 
	building-fortress, 
	building-factory, 
	building-cottage, 
	building-community, 
	building-church, 
	building-castle, 
	building-carousel, 
	building-bridge-2, 
	building-bridge, 
	building-bank, 
	building-arch, 
	building, 
	briefcase, 
	book, 
	bone, 
	bolt-off, 
	bolt, 
	bike, 
	bed, 
	battery-automotive, 
	bandage, 
	ball-tennis, 
	ball-football, 
	ball-bowling, 
	ball-american-football, 
	award, 
	atom, 
	alien, 
	aerial-lift, 
	activity, 
	divide, 
	equals, 
	calculator, 
	infinity, 
	math-function, 
	math-symbols, 
	math, 
	minus, 
	parentheses, 
	omega, 
	percent, 
	plus, 
	not-equal, 
	greater-than, 
	less-than, 
	greater-than-equal, 
	less-than-equal, 
	workflow, 
	eatin, 
	cms, 
	embed, 
	lightspeed, 
	shop, 
	pickup, 
	reporting, 
	delivery, 
	virtual, 
	access-point-off, 
	access-point, 
	antenna-bars-1, 
	antenna-bars-2, 
	antenna-bars-3, 
	antenna-bars-4, 
	antenna-bars-5, 
	alert-circle, 
	exclamation, 
	alert-octagon, 
	alert-triangle, 
	ban, 
	battery-1, 
	battery-2, 
	battery-3, 
	battery-charging, 
	battery, 
	bell-minus, 
	bell-off, 
	bell-plus, 
	bell, 
	bluetooth-connected, 
	bluetooth-off, 
	bluetooth, 
	bell-x, 
	brightness-down, 
	brightness-up, 
	check, 
	checkbox, 
	checks, 
	contrast, 
	compass, 
	flag-2, 
	flag-3, 
	flag, 
	forbid, 
	help, 
	info-circle, 
	info, 
	info-square, 
	notification, 
	question-mark, 
	asterisk, 
	cross, 
	wifi-3, 
	wifi-2, 
	wifi-1, 
	wifi, 
	wifi
);