$spices-icons-path: 'https://cdn.sayl.cloud/spices/icons/spices-icons.svg?v=0.12.0';
$spices-icons-iconfont-root: '/iconfont/';
$spices-icons-version: '0.12.0';

$spices-icons: (
	debug: "\ea02", 
	debug2: "\ea03", 
	abc: "\ea04", 
	arrow-up-right: "\ea05", 
	arrow-up-left: "\ea06", 
	arrow-up: "\ea07", 
	arrow-right: "\ea08", 
	arrow-left: "\ea09", 
	arrow-down-right: "\ea0a", 
	arrow-down-left: "\ea0b", 
	arrow-down: "\ea0c"
);